{% extends "base.html.twig" %}
{% block title %}Film
{% endblock %}
{% block body %}

	<div style="margin-left: 300px; margin-bottom: 50px;"></div>
	<div class="m-5 p-5">


		<img src="/img/{{ film.img }}">
		{{ film.title }}
		{{ film.realisateur }}
		{{ film.genre }}
		<a href="{{ path('listingFilm') }}">Retour à la liste</a>


	</div>
{% endblock %}
