<div class="beforNav">
	<img src="/img/logo.png">
</div>
<nav>

	<div class="nav stiky">
		<a href="{{ path('accueil') }}">Accueil</a>
		<a href="{{ path('user') }}">Utilisateur</a>
		<a href="{{ path('film_index') }}">Film</a>
		<a href="{{ path('seance_index') }}">Séance</a>
		<a href="{{ path('salle_index') }}">Salle</a>
	</div>

</nav>
