<div class="beforNav">
	<img src="/img/logo.png">
</div>
<nav>

	<div class="nav stiky">
		<a href="{{ path('accueil') }}">Accueil</a>
		<a href="{{ path('listingFilm') }}">Listing</a>
		<a href="{{ path('propos') }}">A propos</a>
		<a href="{{ path('user') }}">Utilisateur</a>
		<a href="{{ path('createFilm') }}">Créer un film</a>
	</div>

</nav>
