{% extends "base.html.twig" %}
{% block body %}
	{% if (isEditor) %}
		<div>Modifier Film :</div>
	{% else %}
		<div>Create a new film :</div>
	{% endif %}

	{{form_start(form)}}
	<div>
		{{form_label(form)}}
	</div>

	<div></div>
	{{form_row(form.duree, {'label': 'Durée: '}) }}
	<div></div>
	{{form_row(form.status, {'label': 'Status: '}) }}
	<div></div>
	{{form_row(form.title, {'label': 'Titre: '}) }}
	<div></div>
	{{form_row(form.realisateur, {'label': 'Realisateur: '}) }}
	<div></div>
	{{form_row(form.genre, {'label': 'Genre: '}) }}
	<div></div>
	{{form_row(form.img, {'label': 'Lien image: '}) }}
	<div></div>


	{{form_row(form.save, {'label': 'Save'}) }}
</div>

{# {% if (error) %}
	{% for error in errors %}
		<li>
			{{ error.message }}
		</li>
	{% endfor %}
{% endif %} #}


{{form_end(form) }}{% endblock %}
